* {
  margin: 0;
  padding: 0;
  /* Changes the box models. 
      Borders and padding are not added to the total width*/
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  /* The fonts are usually inherited, */
  // font-family: "Lato", sans-serif;
  // font-weight: 400;
  // font-size: 16px;
  // line-height: 1.7;
  // color: #777;
  // padding: 30px;
  box-sizing: border-box;
}
